@model ProyectoWeb.Models.Colaborador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Colaborador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula_colaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula_colaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_colaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_colaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos_colaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos_colaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo_colaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo_colaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrasena_colaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrasena_colaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_colaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono_colaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_colaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_colaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salario_colaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salario_colaborador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
