@model ProyectoWeb.Models.Clientes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula_clientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula_clientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrasena_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrasena_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_cliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
