@model IEnumerable<ProyectoWeb.Models.Clientes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula_clientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion_cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula_clientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion_cliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
